.articles{
    margin : 20px ;
    display: grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    grid-gap : 10px;
    padding :30px;
}

h1{
color: blue;
text-align :center
}
.article{
    border :1px solid #00dba0;
    padding : 10px 10px 20px 10px;
    position : relative
}

p.author{
border : 1px solid green;
background-color : #00dba0;
position : absolute;
right :0;
bottom : 0;
margin : 0
}