<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
              {% load static %}
      {% block title %}{{title | default:'Learning'}}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
      {% block head %}

      {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <header id="header">
        <div id="logo">
          <img src="{% static 'images/logo.jpg' %}" alt="web_logo" width="30" height="30">
        </div>
        <div id="top_menu">
          <a href="{% url 'home' %}" class="btn">Home</a> | <a href="{% url 'about' %}" class="btn">About</a>
        </div>
        <br><div id="topbanner">
          <h1>DisQuession Forum</h1>
        </div>
        <div id="tab">
          <a href="{% url 'account:signup' %}"><button class="btn"><strong>SignUP</strong></button></a>
          {% if user.is_authenticated %}
            <a href="{% url 'account:logout' %}"><button class="btn"><strong>{{user.username}}</strong></button></a>
            <a href="{% url 'article:create' %}"><button class="btn"><strong>CreateArticle</strong></button></a>
          {% else %}
            <a href="{% url 'account:login' %}"><button class="btn"><strong>Login</strong></button></a>
          {% endif %}
      </div>
      </header>
      <aside id="rightside">
      </aside>
      <section id="main">
        {% block content %}
        {% endblock %}
      </section>
  <!--<script type="text/javascript">-->
  <!--window.onscroll = function() {myFunction()};-->
  <!--var header = document.getElementById("header");-->
  <!--var sticky = header.offsetTop;-->
  <!--function myFunction() {-->
    <!--if (window.pageYOffset > sticky) {-->
      <!--header.classList.add("sticky");-->
    <!--} else {-->
      <!--header.classList.remove("sticky");-->
    <!--}-->
  <!--}-->
  <!--</script>-->

  <script>
// Add active class to the current button (highlight it)
// var header = document.getElementById("tab")
var anchor = document.getElementsByTagName('a')
// btns = header.getElementsByClassName('btn')
var match_index = -1
$(function(){
  for(var j= 0; j<anchor.length; j++){
    if ((window.location.href) === (anchor[j]).href){
      match_index = j
    }
  }
  currentActive = document.getElementsByClassName('active')
  if(currentActive.length > 0){
    currentActive[0].classList.remove('active')
  }
  if (match_index != -1){
    anchor[match_index].getElementsByClassName('btn')[0].classList.add('active')
  }

})
</script>

  </script>
      <footer id="footer">@Copy Rights
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
      </footer>
    </div>
  </body>
</html>